<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JMTextOfNumberLines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7698439F1DE1AA1200924404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769843B81DE1AA1300924404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>769843C31DE1AA1400924404</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
